* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}


body {
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100vh;
     background-color: #0b0b0b;
}

.stars {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     z-index: 0;
     pointer-events: none;
}

.shooting-star {
     position: absolute;
     width: 3px;
     height: 80px;
     border-radius: 50px;
     animation: fall linear infinite;
     opacity: 0;
     filter: blur(1px);
}

@keyframes fall {
     0% {
          transform: translateY(-100px);
          opacity: 0;
     }

     10% {
          opacity: 1;
     }

     100% {
          transform: translateY(110vh);
          opacity: 0;
     }
}

.shooting-star:nth-child(1) {
     left: 5%;
     background: #00ffff;
     box-shadow: 0 0 10px #00ffff;
     animation-delay: 0s;
     animation-duration: 7s;
}

.shooting-star:nth-child(2) {
     left: 10%;
     background: #ff6ec7;
     box-shadow: 0 0 10px #ff6ec7;
     animation-delay: 1s;
     animation-duration: 8s;
}

.shooting-star:nth-child(3) {
     left: 15%;
     background: #aaffaa;
     box-shadow: 0 0 10px #aaffaa;
     animation-delay: 2s;
     animation-duration: 9s;
}

.shooting-star:nth-child(4) {
     left: 20%;
     background: #9fd3c7;
     box-shadow: 0 0 10px #9fd3c7;
     animation-delay: 3s;
     animation-duration: 6s;
}

.shooting-star:nth-child(5) {
     left: 25%;
     background: #aec6cf;
     box-shadow: 0 0 10px #aec6cf;
     animation-delay: 4s;
     animation-duration: 10s;
}

.shooting-star:nth-child(6) {
     left: 30%;
     background: #ffccff;
     box-shadow: 0 0 10px #ffccff;
     animation-delay: 5s;
     animation-duration: 9s;
}

.shooting-star:nth-child(7) {
     left: 35%;
     background: #b0e0e6;
     box-shadow: 0 0 10px #b0e0e6;
     animation-delay: 6s;
     animation-duration: 7s;
}

.shooting-star:nth-child(8) {
     left: 40%;
     background: #add8e6;
     box-shadow: 0 0 10px #add8e6;
     animation-delay: 7s;
     animation-duration: 8s;
}

.shooting-star:nth-child(9) {
     left: 45%;
     background: #dcd3ff;
     box-shadow: 0 0 10px #dcd3ff;
     animation-delay: 8s;
     animation-duration: 9s;
}

.shooting-star:nth-child(10) {
     left: 50%;
     background: #e0ffff;
     box-shadow: 0 0 10px #e0ffff;
     animation-delay: 9s;
     animation-duration: 10s;
}

.shooting-star:nth-child(11) {
     left: 55%;
     background: #c3aed6;
     box-shadow: 0 0 10px #c3aed6;
     animation-delay: 10s;
     animation-duration: 6s;
}

.shooting-star:nth-child(12) {
     left: 60%;
     background: #dab6fc;
     box-shadow: 0 0 10px #dab6fc;
     animation-delay: 11s;
     animation-duration: 8s;
}

.shooting-star:nth-child(13) {
     left: 65%;
     background: #00bfff;
     box-shadow: 0 0 10px #00bfff;
     animation-delay: 12s;
     animation-duration: 9s;
}

.shooting-star:nth-child(14) {
     left: 70%;
     background: #d5c6e0;
     box-shadow: 0 0 10px #d5c6e0;
     animation-delay: 13s;
     animation-duration: 7s;
}

.shooting-star:nth-child(15) {
     left: 75%;
     background: #a7bed3;
     box-shadow: 0 0 10px #a7bed3;
     animation-delay: 14s;
     animation-duration: 8s;
}

.shooting-star:nth-child(16) {
     left: 80%;
     background: #b5ead7;
     box-shadow: 0 0 10px #b5ead7;
     animation-delay: 15s;
     animation-duration: 10s;
}

.shooting-star:nth-child(17) {
     left: 85%;
     background: #c4fff9;
     box-shadow: 0 0 10px #c4fff9;
     animation-delay: 16s;
     animation-duration: 7s;
}

.shooting-star:nth-child(18) {
     left: 90%;
     background: #f3c4fb;
     box-shadow: 0 0 10px #f3c4fb;
     animation-delay: 17s;
     animation-duration: 9s;
}

.shooting-star:nth-child(19) {
     left: 95%;
     background: #c0ffff;
     box-shadow: 0 0 10px #c0ffff;
     animation-delay: 18s;
     animation-duration: 6s;
}

.shooting-star:nth-child(20) {
     left: 3%;
     background: #c9c9ff;
     box-shadow: 0 0 10px #c9c9ff;
     animation-delay: 19s;
     animation-duration: 10s;
}

.shooting-star:nth-child(21) {
     left: 6%;
     background: #aaffff;
     box-shadow: 0 0 10px #aaffff;
     animation-delay: 20s;
     animation-duration: 7s;
}

.shooting-star:nth-child(22) {
     left: 12%;
     background: #baffc9;
     box-shadow: 0 0 10px #baffc9;
     animation-delay: 21s;
     animation-duration: 9s;
}

.shooting-star:nth-child(23) {
     left: 18%;
     background: #ffb3ba;
     box-shadow: 0 0 10px #ffb3ba;
     animation-delay: 22s;
     animation-duration: 8s;
}

.shooting-star:nth-child(24) {
     left: 24%;
     background: #bae1ff;
     box-shadow: 0 0 10px #bae1ff;
     animation-delay: 23s;
     animation-duration: 7s;
}

.shooting-star:nth-child(25) {
     left: 30%;
     background: #e6e6fa;
     box-shadow: 0 0 10px #e6e6fa;
     animation-delay: 24s;
     animation-duration: 9s;
}

.shooting-star:nth-child(26) {
     left: 36%;
     background: #dda0dd;
     box-shadow: 0 0 10px #dda0dd;
     animation-delay: 25s;
     animation-duration: 6s;
}

.shooting-star:nth-child(27) {
     left: 42%;
     background: #ffe0f0;
     box-shadow: 0 0 10px #ffe0f0;
     animation-delay: 26s;
     animation-duration: 10s;
}

.shooting-star:nth-child(28) {
     left: 48%;
     background: #b0c4de;
     box-shadow: 0 0 10px #b0c4de;
     animation-delay: 27s;
     animation-duration: 8s;
}

.shooting-star:nth-child(29) {
     left: 54%;
     background: #e0ffff;
     box-shadow: 0 0 10px #e0ffff;
     animation-delay: 28s;
     animation-duration: 9s;
}

.shooting-star:nth-child(30) {
     left: 60%;
     background: #ffbdf7;
     box-shadow: 0 0 10px #ffbdf7;
     animation-delay: 29s;
     animation-duration: 7s;
}

.shooting-star:nth-child(31) {
     left: 66%;
     background: #ccffff;
     box-shadow: 0 0 10px #ccffff;
     animation-delay: 30s;
     animation-duration: 6s;
}

.shooting-star:nth-child(32) {
     left: 72%;
     background: #d4f1f9;
     box-shadow: 0 0 10px #d4f1f9;
     animation-delay: 31s;
     animation-duration: 9s;
}

.shooting-star:nth-child(33) {
     left: 78%;
     background: #c1f0f6;
     box-shadow: 0 0 10px #c1f0f6;
     animation-delay: 32s;
     animation-duration: 8s;
}

.shooting-star:nth-child(34) {
     left: 84%;
     background: #ffe4fa;
     box-shadow: 0 0 10px #ffe4fa;
     animation-delay: 33s;
     animation-duration: 10s;
}

.shooting-star:nth-child(35) {
     left: 90%;
     background: #bbffdd;
     box-shadow: 0 0 10px #bbffdd;
     animation-delay: 34s;
     animation-duration: 7s;
}

.shooting-star:nth-child(36) {
     left: 96%;
     background: #b3faff;
     box-shadow: 0 0 10px #b3faff;
     animation-delay: 35s;
     animation-duration: 6s;
}

.shooting-star:nth-child(37) {
     left: 7%;
     background: #b7b7ff;
     box-shadow: 0 0 10px #b7b7ff;
     animation-delay: 36s;
     animation-duration: 10s;
}

.shooting-star:nth-child(38) {
     left: 13%;
     background: #c6f1ff;
     box-shadow: 0 0 10px #c6f1ff;
     animation-delay: 37s;
     animation-duration: 8s;
}

.shooting-star:nth-child(39) {
     left: 19%;
     background: #defff2;
     box-shadow: 0 0 10px #defff2;
     animation-delay: 38s;
     animation-duration: 9s;
}

.shooting-star:nth-child(40) {
     left: 25%;
     background: #c0d6e4;
     box-shadow: 0 0 10px #c0d6e4;
     animation-delay: 39s;
     animation-duration: 7s;
}

.shooting-star:nth-child(41) {
     left: 31%;
     background: #f1f1ff;
     box-shadow: 0 0 10px #f1f1ff;
     animation-delay: 40s;
     animation-duration: 9s;
}

.shooting-star:nth-child(42) {
     left: 37%;
     background: #e0f7fa;
     box-shadow: 0 0 10px #e0f7fa;
     animation-delay: 41s;
     animation-duration: 6s;
}

.shooting-star:nth-child(43) {
     left: 43%;
     background: #dbdbff;
     box-shadow: 0 0 10px #dbdbff;
     animation-delay: 42s;
     animation-duration: 10s;
}

.shooting-star:nth-child(44) {
     left: 49%;
     background: #baf2ef;
     box-shadow: 0 0 10px #baf2ef;
     animation-delay: 43s;
     animation-duration: 7s;
}

.shooting-star:nth-child(45) {
     left: 55%;
     background: #d6f5ff;
     box-shadow: 0 0 10px #d6f5ff;
     animation-delay: 44s;
     animation-duration: 8s;
}

.shooting-star:nth-child(46) {
     left: 61%;
     background: #d0f0fd;
     box-shadow: 0 0 10px #d0f0fd;
     animation-delay: 45s;
     animation-duration: 9s;
}

.shooting-star:nth-child(47) {
     left: 67%;
     background: #e0eafc;
     box-shadow: 0 0 10px #e0eafc;
     animation-delay: 46s;
     animation-duration: 10s;
}

.shooting-star:nth-child(48) {
     left: 73%;
     background: #ecf0f1;
     box-shadow: 0 0 10px #ecf0f1;
     animation-delay: 47s;
     animation-duration: 6s;
}

.shooting-star:nth-child(49) {
     left: 79%;
     background: #b0efff;
     box-shadow: 0 0 10px #b0efff;
     animation-delay: 48s;
     animation-duration: 7s;
}

.shooting-star:nth-child(50) {
     left: 85%;
     background: #ccf2ff;
     box-shadow: 0 0 10px #ccf2ff;
     animation-delay: 49s;
     animation-duration: 8s;
}


#calculator {
     max-width: 500px;
     font-family: Arial, Helvetica, sans-serif;
     background-color: hsl(0, 0%, 15%);
     border-radius: 15px;
     overflow: hidden;
}

#display {
     width: 100%;
     padding: 20px;
     font-size: 5rem;
     text-align: left;
     border: none;
     background-color: hsl(0, 0%, 20%);
     color: white;
}

#keys {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;
     padding: 25px;
}

button {
     width: 100px;
     height: 100px;
     border-radius: 50px;
     border: none;
     background-color: hsl(0, 0%, 30%);
     color: white;
     font-size: 3rem;
     font-weight: bold;
     cursor: pointer;
}

button:hover {
     background-color: hsl(0, 0%, 40%);
}

button:active {
     background-color: hsl(0, 0%, 50%);
}

.operator {
     background-color: hsl(35, 100%, 55%);
}

.operator:hover {
     background-color: hsl(35, 100%, 65%);
}

.operator:active {
     background-color: hsl(35, 100%, 75%);
}